<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>raspberryCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE842B9D1C72226F00AA882E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE842BB61C72226F00AA882E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE842BC11C72226F00AA882E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
